<% if actions_by_date.any? %>
  <% actions_by_date.each do |date, actions| %>
    <%= render 'layouts/date_divider', title: format_date(Date.today) == format_date(date) ? "Today" : format_date(date) %>
    <div class="mb-10">
      <% actions.each do |action| %>
        <%= render 'feed/list_item', item: action %>
      <% end %>
    </div>
  <% end %>
<% end %>
