<h1 class="text-xl font-bold my-6">All venues</h1>
<% if @venues.any? %>
  <ul>
    <% @venues.each do |venue| %>
      <li class="mb-4">
        <%= link_to venue_path(venue) do %>
          <span class="flex items-center text-sm sm:text-md hover:text-blue-700">
            <%= heroicon "map-pin", variant: :outline, options: { class: "w-5 h-5 mr-l" } %>
            <%= venue %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-red-800">No gigs found</p>
<% end %>
