<% if users.any? %>
  <p class="text-xs flex flex-wrap items-center mb-1">
    <% users.each_with_index do |user, index| %>
      <% if users.length > 1 && index == users.length - 1 %>
        <span class="mx-1">&</span>
      <% end %>
      <%= render 'layouts/user', user: user %>
      <% if index < users.length - 2 %>
        <span class="mr-2">,</span>
      <% end %>
    <% end %>
    <span class="ml-1">
      <%= users.length > 1 || users.first.id == current_user.id ? "are" : "is" %> <%= status %>
    </span>
  </p>
<% end %>
