<% if posts_by_date.any? %>
  <div class="p-2 mt-6 border border-gray-300 gap-y-8 dark:border-gray-600">
    <% posts_by_date.each do |date, posts| %>
      <div>
        <%= render 'layouts/date_divider', title: format_date(Date.today) == format_date(date) ? "Today" : format_date(date) %>
        <ul>
          <% posts.each do |post| %>
            <%= render 'posts/post', post: post, is_own: post.user_id == current_user.id %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
