.simple-calendar {
  .calendar-heading {
    text-align: center;
    .calendar-title {
      display: block;
      text-transform: uppercase;
    }
    nav {
      font-size: 0.875rem;
      a {
        margin: 0 0.5rem;
      }
    }
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: transparent !important;
    .date {
      background-color: #3b82f6;
    }
  }
  .past {
    opacity: 0.5;
  }
  .future {}

  .start-date {}

  .prev-month {
    background-color: #6b7280 !important;
  }
  .next-month {
    background-color: #6b7280 !important;
  }
  .current-month {}

  .has-events {}
}