<div class="rounded border border-2 border-gray-400 p-1 w-10 h-10 sm:w-12 sm:h-12 text-center text-xs flex flex-col items-center justify-center">
  <p><%= date.strftime("%a") %></p>
  <p class="sm:text-sm font-bold"><%= date.strftime("%e") %></p>
</div>
