<% if gigs_by_month.any? %>
  <% gigs_by_month.each do |month, gigs| %>
    <%= render 'layouts/date_divider', title: month %>
    <div class="mb-10">
      <% gigs.each do |gig| %>
        <%= render 'gigs/gig_list_item', gig: gig, going: gig.responses.where(status: "Going"), interested: gig.responses.where(status: "Interested"), hide_venue: local_assigns[:hide_venue] %>
      <% end %>
    </div>
  <% end %>
  <%= paginate gigs_by_month %>
<% else %>
  <p class="text-red-800">No gigs found</p>
<% end %>
