<% if links.any? %>
<h2>More info:</h2>
  <ul>
    <% links.each do |link| %>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="<%= link.url %>" class="font-semibold text-sm text-blue-700 hover:underline"
        >
          <%= link.text.presence || link.url %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
