<% if links.any? %>
<h2>More info:</h2>
  <ul>
    <% links.each do |link| %>
      <li>
        <%= render 'layouts/external_link', link: link.url, label: link.text.presence || link.url %>
      </li>
    <% end %>
  </ul>
<% end %>
