<h1 class="text-xl font-bold mb-6">Edit <%= @gig.summary %></h1>

<%= form_with(
  url: gig_path(@gig.id),
  method: :patch,
  data: {
    controller: "places",
    action: "google-maps-callback@window->places#initMap"
  }
) do |form| %>
  <%= render 'form_fields', form: form %>
<% end %>