<h3 class="flex items-center mb-2">
  <div class="border dark:border-gray-700 w-full mr-2"></div>
  <span class="mx-2 text-xs uppercase text-nowrap"><%= title %></span>
  <div class="border dark:border-gray-700 w-full ml-2"></div>
</h3>
