<%= link_to link, target: "_blank", rel: "noopener noreferrer", class: "flex items-center font-semibold text-sm text-blue-700 dark:text-blue-400 hover:underline" do %>
  <%= heroicon "arrow-top-right-on-square", options: { class: "w-4 h-4 mr-1" } %>
  <span class="truncate"><%= label %></span>
<% end %>
